/*========== Import Variables ==========*/
@import "./variables";

::selection {
  background-color: $primary;
  color: $white;
}

a {
  outline-color: $gray-900;
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
