/*========== Fonts ==========*/

/*========== Colors ==========*/
$primary: #ee2f69;
$secondary: #ebebeb;
$gray-900: #292929;
$white: #ffffff;
$black: #000000;

/*========== Buttons ==========*/
$btn-padding-y: 0.4rem;
$btn-padding-x: 1.8rem;

$btn-padding-y-sm: 0.28rem;
$btn-padding-x-sm: 1.5rem;

$btn-border-radius: 100rem;
$btn-border-radius-lg: 100rem;
$btn-border-radius-sm: 100rem;

/*========== Media Query ==========*/
