/*========== Import Variables ==========*/
@import "../../assets/scss/variables";

.server-error {
  height: calc(100vh - 70.02px);

  &__container {
    max-width: 500px;
    min-width: 300px;
  }
}
