/*========== Import Variables ==========*/
@import "../../../assets/scss/variables";

.author {
  &__description {
    max-width: 720px;
  }

  &__social-media-icon {
    font-size: 26px;
    height: 40px;
    line-height: 40px;
    margin-right: 0.5rem;
    width: 40px;

    &:last-of-type {
      margin-right: 0px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 22px;
    }
  }

  &__image {
    height: 120px;

    @include media-breakpoint-up(md) {
      height: 140px;
    }

    @include media-breakpoint-up(lg) {
      height: 160px;
    }
  }
}
