/*========== Import Variables ==========*/
@import "../../../assets/scss/variables";

.about {
  &__description {
    max-width: 960px;
  }
}

.server-error,
.no-content {
  height: calc(100vh - 70.02px);

  &__container {
    max-width: 500px;
    min-width: 300px;
  }
}
